body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1           { color: blue; }
h1              { 
                margin: 0; 
                border-bottom: 2px solid #eee; 
                }
h2              { font-size: 1.2em; }

.page {
  
  margin-left: auto;
  margin-right: auto;

} 

table.dataframe, .dataframe th, .dataframe td {

  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:center;
  padding: 10px;
  margin-bottom: 40px;
  opacity: 90%;
}

body {
  background-color: #141414;
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  color: #e50914;
  font-size: 3em;
}

.page {
  width: 80%;
  margin: auto;
  background-color: #222222;
  padding: 2em;
  border-radius: 0.3em;
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #555555;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
  opacity: 90%;
}
